@charset "utf-8";
/* CSS Document 
Andrew Wong
CSCIE15
12/15/13
*/

body {
	background-color: #1C263C;
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
}

ul{
	list-style-type:none;
    margin:20px;
    padding:20px;
}

li{
    display:inline;
	padding-right: 20px;
}

h1{
	color: #9CFF00;
}
h2 {
	color: #B6C0D2;
}
h3 {
	color: #9CFF00;
}

a:link {
	color:#09F;
	text-decoration: none;
}
a:visited {
	color:#09F;
}
a:hover {
	color:#54FCFC;
	text-decoration: none;
}
.error {
	color: Red;
	font-weight:bold;	
}
.footnote{
	font-size:xx-small;
}
.minilogo{
    text-align:center;
}
.navigation {
	text-align:left;
	padding-right: 30px;
	display:inline-block;
}
.postDate{
	font-size:10px;
    padding-left: 20px;
}

#uName {
	font-weight:bold;
	color: blue;
	text-align: left;
}

#uName-output {
	position:absolute;
	/*top:100px; */
	text-align:center;
	font-size:30px;
	width: 100%;
}

#compPost{
	float:left;
	}
#post{
	text-decoration:none;
}

.postTitle{
	font-weight:bold;
}
.postContent{
}

.editDel{
	font-size:8px;
}
